@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-Italic.eot');
	src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
		url('CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic-Italic.woff') format('woff'),
		url('CenturyGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic.eot');
	src: local('Century Gothic'), local('CenturyGothic'),
		url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic.woff') format('woff'),
		url('CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-Bold.eot');
	src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
		url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic-Bold.woff') format('woff'),
		url('CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-BoldItalic.eot');
	src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
		url('CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic-BoldItalic.woff') format('woff'),
		url('CenturyGothic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


.carousel-item {
    height: 105vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-image{
    background-image: url(../img/slider2.jpg);
}

.font-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 16px;
    font-variant: small-caps;
    font-feature-settings: 'cpsp' on;
    text-transform: uppercase;
    margin-left: 35px;
}

nav{
    height: 64px;
}

.custom-header{
    padding-left: 92px;
    padding-right: 10px;
}

.mr-10{
    margin-right: 10px;   
}

.mr-11{
    margin-right: 11px;
}

.mr-12{
    margin-right: 12px;
}

.mr-8{
    margin-right: 12px;
}

.mr-7{
    margin-right: 12px;
}

.mr-9{
    margin-right: 9px;
}

.mr-6{
    margin-right: 6px;
}

.mr-5{
    margin-right: 5px;
}

/* .mr-41p{
    margin-right: 200px;

    padding-right: 100px;
}
 */

.mr-151{
    margin-right: 35px;
}

 .pt-7{
    padding-top: 7rem !important;
 }

 .width{  
    flex-grow: 0 !important;
    width: 335px;   
 }

 

.logo {
    height: 35px;
    margin-left: 9px;
}

.pos{
    position: absolute;
    top: 143px;
    left: 37px;
}

.customText{
    width: 507px;
    height: 136px;
    text-transform: uppercase;
    font-size: 3.0rem;
    font-weight: bold;
}

.customText2{
    position: absolute;
    top: 149px;
    left: 46px;
    width: 428px;
}

.customContent{
    font-family: 'Century Gothic';
    /* margin-top: 0px; */
    height: 1167px;
}

.ContentImgSize{
    width: 934px;
    margin-left: 12px;
    z-index: -5;
}

.line{
    top: 750px;
    width: 25px;
    position: absolute;
    height: 3132px;
    z-index: -3;
}

.linePos1{
    
    left: 214px;
}

.linePos2{
 
    left: 438px;
}

.linePos3{

    left: 664px;
}

.linePos4{

    left: 888px;
}

.linePos5{
    left: 1114px;
}

.imgContent1{
    width: 302px;
    margin-top: -7px;
    margin-left: -25px;
}

.imgContent2{
    width: 302px;
    margin-top: -28px;
    margin-left: 3px;
}

.imgContent3{
    width: 302px;
    margin-top: -33px;
    margin-left: -25px;
}

.imgContent4{
    width: 302px;
    margin-top: -31px;
    margin-left: 3px;
}

.ContentList1{
    margin-top: 20px;
    margin-left: -18px;
}

.ContentList2{
    margin-top: 20px;
    margin-left: 69px;
}

.ContentList3{
    margin-top: 21px;
    margin-left: -17px;
}

.ContentList4{
    margin-top: 18px;
    margin-left: 70px;
}

.custom3{
    margin-top: 66px;
}

.masonre{
    width: 20%;
    padding: 0;
}

.customMansory{
    display: flex;
    
}

.customMap{
    height: 100vh;
    width: 98.7vw;
}

.customForm{
    position: absolute;
    height: 242px;
    z-index: 1000;
    top: 4117px;
    left: 102px;
    width: 1227px;
}

.text3{
    font-size: 24px;
    line-height: 27px;
    
}

.leftText{
    margin-left: 39px;
}

.textRight{
    margin-left: 129px;
    line-height: 33px;
}

.textSize1{
    font-size: 0.8rem;
}

.custom-header-top{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 94%;
}

.custom4{
    margin-top: 37px;
}

.lineX1{
    margin-bottom: 3px;
}

.lineX2{
    width: 351px;
}

/* .lineX3{
    width: 100px;
} */

.lineX4{
    width: 351px;
    margin-bottom: 10px;
}

.burgerImg{
    display: none;
}

/* Header fixed */
 
.header5{
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    z-index: 10000;
} 

.sticky{
    position: fixed;
    top: 0;
    width: 100%

}


/* PHONE */
@media only screen and (max-width: 600px) {
    .slider{
        height: 10vh;
    }

    .custom-header{
        width: 360px;
        margin-left: 0;
        padding-left: 0;
    }

    .line{
        display: none;
    }

    footer{
        width: 100vw;
        font-size: 10pt;
    }

    .MobileDN{
        display: none;
    }

    .ContentImgSize{
        width: 300px;
        margin-top: -40px;
    }

    .logo{
        margin: 0;
        padding: 0;
        margin-left: -114px;
    }

    .width{
        width: 100px;
        color: black;
        margin-left: 0px;
    }

    .mr-151{
        margin: 0;
        color: black;
    }

    /* .cHeight{
        height: 20vh;
    } */

    .posLineX{
        display: none;
    }

    .cRowC1{
        display: flex;
        flex-direction: column;
    }

    .cRowC2{
        display: flex;
        flex-direction: column-reverse;
    }

    .header5{
        padding: 0;
        height: 40px;
    }

    .customForm{
        width: 100vw;
        height: 120vh;
        display: block;
        position: inherit;
        /* display: flex;
        flex-direction: column;
        top: 4915px;
        left: 66px;
        padding-left: 0;
        justify-content: space-between;
        align-items: stretch; */
    }

    .cForm2{
        width: 60vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        
    }

    .textSize1{
        font-size: 13px;
    }

    .text3{
        font-size: 16px;
    }

    .textRight{
        margin: 0;
        padding: 0;
    }

    .burgermenu{
        display: none;
    }

    .burgerImg{
        width: 20px;
        display: block;
        margin-left: 10px;
    }
    .sticky{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

    .onBurger{
        display: block;
        position: absolute;
        top: 50px;
        background-color: gray;
        width: 100px;
        padding: 20px;
        /* opacity: 0.9; */
        border-radius: 5px;
        margin-left: 3px;
    }

    .mobileColor{
        color: white !important; 
    }

    .customInfo{
        width: 80vw;
        padding: 10px;
        font-size: 13px;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        flex-wrap: wrap;
    }

    .customListInfo{
        display: flex;
        flex-direction: column;
        margin-left: -60px;
    }

    .ContentList1{
        width: 73vw;
        margin: 10px;
    }

    .ContentList2{
        width: 73vw;
        margin: 10px;
    }

    .ContentList3{
        width: 73vw;
        margin: 10px;
    }

    .ContentList4{
        width: 73vw;
        margin: 10px;
    }

    .imgContent1{
        width: 337px;
        margin: 0;
    }

    .imgContent2{
        width: 337px;
        margin: 0;
    }

    .imgContent3{
        width: 337px;
        margin: 0;
    }

    .imgContent4{
        width: 337px;
        margin: 0;
    }

    .custom3{
        width: 70vw;
    }

    .textRight{
        margin-left: 41px;
    }

    input{
        margin-bottom: 10px;
    }

    .logoForm{
        margin-bottom: 30px;
        width: 100px;
    }

    .footerText{
        font-size: 10px;
    }

    .footerLogo{
        width: 100px;
    }

    footer{
        height: 100px;
    }

    .formInputs{
        position: relative;
        top: 305px;
        left: -150px;
    }

    .fSizeForm{
        font-size: 10px;
    }

    .SizeBlock{
        width: 200px;
    }

    

  }
  
  





